<!DOCTYPE html>
<html>

<head>
    <title>
        Email Spam Classifier
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="post" action="/predict">
            <textarea rows="12" cols="60" name="content" placeholder="Enter your email here"
                autocomplete="off">{{ email }}</textarea>
            <div>
                <button type="submit">
                    Button
                </button>
                <a href="/">Reset</a>
            </div>
        </form>

    </div>
    <div>
        {% if prediction %}
        {% if prediction == 1 %}
        <h2 style="color: red">Spam</h2>
        {% else %}
        <h2 style="color: green">Not Spam</h2>
        {% endif %}
        {% endif %}
        <!-- <p id="display"></p> -->
    </div>
</body>

</html>